.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;

}

.swiper-slide img {
  width: 100%;
}

/* retira as seta de passar as imagens do carrossel, que precisamos apenas quando a site for desktop. */
.swiper-button-prev, 
.swiper-button-next {
  display: none;
}

/* apos colocar a div com os boletpoint acima einicial elas permance na parte de baixo das img, devido o pisiton absolute. com isso corrigimos. */
.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

/* Estilizando cards 1ยบ linha*/
.card {
  background: var(--branco);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.descricao__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.descricao__titulo-livro {
  color: var(--azul);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

.descricao__texto {
  font-size: 14px;
}

/* Estilizando cards 2ยบ linha*/
.card__botoes {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
}

.botoes__item {
  padding: 0 0.5em;

}

.botoes__ancora {
  background-color: var(--laranja);
  padding: 1em 2.2em;
  color: var(--branco);
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .carrosel__titulo {
    font-size: 26px;
  }

  .swiper-pagination {
    margin: 2em 0 3em 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    width: 40%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 1728px) {
  .carrossel__container {
    display: flex;
    margin: 0 20vw 3em 20vw;
    align-items: center;
  }

  .swiper-pagination {
    margin: 1em 0;
  }

  .swiper {
    width: 50%;
  }

  .descricao {
    margin-right: 2em;
  }

  .descricao__titulo {
    font-size: 32px;
  }

  .descricao__texto {
    font-size: 16px;
  }

  .card {
    width: 60%;
    margin-left: 3em;
  }
}